* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Serif", serif;
  color: #b8b8b8;
}
body h1,
body h4 {
  color: #2e2e2e;
}
body main {
  align-self: center;
  margin: auto;
  width: 60%;
  height: 63%;
  border-radius: 25px;
  box-shadow: 0 2px 10px grey;
}
body main aside {
  width: 30%;
  height: 100%;
  background-color: #f9f9f9;
  border-radius: 25px 0 0 25px;
  padding: 70px 45px 45px 45px;
  font-size: 0.8rem;
  float: left;
}
body main aside img {
  display: block;
  border-radius: 50%;
  width: 170px;
  margin: 20px auto;
}
body main aside .info .info__headings {
  width: 35%;
  float: left;
  text-transform: uppercase;
}
body main aside .info .info__headings h4 {
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  color: #2e2e2e;
  margin: 20px 20px 20px 0;
}
body main aside .info .info__content {
  width: 65%;
  float: right;
}
body main aside .info .info__content p {
  line-height: 14px;
  margin: 20px 0 20px 0;
}
body main aside .info .info__content p a {
  color: #b8b8b8;
}
body main aside .social-networks {
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
body main aside .social-networks a {
  margin: 0 20px;
  color: #b8b8b8;
  font-size: 1.2rem;
}
body main aside .social-networks a i {
  margin-top: 20px;
}
body main section {
  width: 70%;
  border-radius: 0 25px 25px 0;
  padding: 70px 100px 50px 50px;
  float: right;
}
body main section .greeting {
  margin-top: 30px;
}
body main section .greeting h4 {
  font-family: "Roboto", sans-serif;
}
body main section .greeting h1 {
  margin: 20px 0 20px 0;
  font-family: "Roboto", sans-serif;
  font-size: 4em;
}
body main section .greeting h1 span {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
body main section .greeting hr {
  width: 85%;
}
body main section p {
  font-size: 0.9rem;
  line-height: 18px;
  margin: 30px 0;
}
body footer {
  background-color: #b8b8b8;
  padding: 20px;
  text-align: center;
}
body footer a {
  color: #f9f9f9;
}

@media screen and (max-width: 480px) {
  body {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  body main {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 0%;
    box-shadow: none;
  }
  body main aside {
    margin: 110px 0 0 0;
    width: 100%;
    border-radius: 0%;
    padding: 0 30px;
  }
  body main aside .info {
    width: 100%;
    font-size: 1rem;
    justify-content: space-between;
  }
  body main aside .info .info__headings h4 {
    margin: 20px 35px 20px 0;
  }
  body main aside .social-networks {
    font-size: 1.1rem;
    margin: 20px 0 20px 0;
  }
  body main aside .social-networks a {
    margin: 0 30px;
  }
  body main section {
    width: 100%;
    padding: 0 30px;
    border-radius: 0%;
  }
  body main section .greeting {
    margin-top: 20px;
    position: absolute;
    top: 0;
  }
  body main section .greeting h1 {
    margin: 10px 0;
    font-size: 2.4rem;
  }
  body main section .greeting hr {
    display: none;
  }
  body footer {
    overflow: hidden;
  }
}

/*# sourceMappingURL=style2.css.map */
